-r requirements.in

safety
django-stubs
mypy
flake8
flake8-pyproject
ruff
colorlog
django-debug-toolbar
django-extensions
pytest
pytest-cov  # for coverage report
pytest-django  # for additional useful tools when testing
pytest-xdist  # for parallel testing
